In [12]:
import pandas as pd

train = pd.read_csv("dataset/fraudTrain.csv")

features = []

for feature in train:
    print(feature)
    features.append(feature)

#
trans_date_trans_time
cc_num
merchant
category
amt
first
last
gender
street
city
state
zip
lat
long
city_pop
job
dob
trans_num
unix_time
merch_lat
merch_long
is_fraud

In [13]:
print(features)

['#', 'trans_date_trans_time', 'cc_num', 'merchant', 'category', 'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip', 'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time', 'merch_lat', 'merch_long', 'is_fraud']

In [22]:
import pandas as pd
import numpy as np

ds = pd.read_csv("dataset/fraudTrain.csv")

# print(ds.columns)
# print(ds.to_numpy())

targets = []
for i in ds.to_numpy():
    targets.append(i[22])
print(np.array(targets))

[0 0 0 ... 0 0 0]

In [34]:
import pandas as pd
import numpy as np

# returns data cols, data, target col, targets
def load_ccfraud():
    ds = pd.read_csv("dataset/fraudTrain.csv")
    print("File \"fraudTrain.csv\" loaded...")

    data_cols = [x for x in ds if x != "is_fraud"]
    target_col = "is_fraud"

    return ds, data_cols, [ds[col] for col in data_cols], target_col, ds[target_col]

dataframe, data_cols, data, target_col, target = load_ccfraud()

print(data_cols)
print(data)

File "fraudTrain.csv" loaded...
['#', 'trans_date_trans_time', 'cc_num', 'merchant', 'category', 'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip', 'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time', 'merch_lat', 'merch_long']
[0                0
1                1
2                2
3                3
4                4
            ...
1296670    1296670
1296671    1296671
1296672    1296672
1296673    1296673
1296674    1296674
Name: #, Length: 1296675, dtype: int64, 0          2019-01-01 00:00:18
1          2019-01-01 00:00:44
2          2019-01-01 00:00:51
3          2019-01-01 00:01:16
4          2019-01-01 00:03:06
                  ...
1296670    2020-06-21 12:12:08
1296671    2020-06-21 12:12:19
1296672    2020-06-21 12:12:32
1296673    2020-06-21 12:13:36
1296674    2020-06-21 12:13:37
Name: trans_date_trans_time, Length: 1296675, dtype: object, 0             2703186189652095
1                 630423337322
2               38859492057661
3             3534093764340240
4              375534208663984
                  ...
1296670         30263540414123
1296671       6011149206456997
1296672       3514865930894695
1296673       2720012583106919
1296674    4292902571056973207
Name: cc_num, Length: 1296675, dtype: int64, 0                   fraud_Rippin, Kub and Mann
1              fraud_Heller, Gutmann and Zieme
2                         fraud_Lind-Buckridge
3           fraud_Kutch, Hermiston and Farrell
4                          fraud_Keeling-Crist
                          ...
1296670                      fraud_Reichel Inc
1296671               fraud_Abernathy and Sons
1296672                   fraud_Stiedemann Ltd
1296673    fraud_Reinger, Weissnat and Strosin
1296674    fraud_Langosh, Wintheiser and Hyatt
Name: merchant, Length: 1296675, dtype: object, 0               misc_net
1            grocery_pos
2          entertainment
3          gas_transport
4               misc_pos
               ...
1296670    entertainment
1296671      food_dining
1296672      food_dining
1296673      food_dining
1296674      food_dining
Name: category, Length: 1296675, dtype: object, 0            4.97
1          107.23
2          220.11
3           45.00
4           41.96
            ...
1296670     15.56
1296671     51.70
1296672    105.93
1296673     74.90
1296674      4.30
Name: amt, Length: 1296675, dtype: float64, 0             Jennifer
1            Stephanie
2               Edward
3               Jeremy
4                Tyler
              ...
1296670           Erik
1296671        Jeffrey
1296672    Christopher
1296673         Joseph
1296674        Jeffrey
Name: first, Length: 1296675, dtype: object, 0              Banks
1               Gill
2            Sanchez
3              White
4             Garcia
             ...
1296670    Patterson
1296671        White
1296672    Castaneda
1296673       Murray
1296674        Smith
Name: last, Length: 1296675, dtype: object, 0          F
1          F
2          M
3          M
4          M
          ..
1296670    M
1296671    M
1296672    M
1296673    M
1296674    M
Name: gender, Length: 1296675, dtype: object, 0                         561 Perry Cove
1           43039 Riley Greens Suite 393
2               594 White Dale Suite 530
3            9443 Cynthia Court Apt. 038
4                       408 Bradley Rest
                       ...
1296670         162 Jessica Row Apt. 072
1296671    8617 Holmes Terrace Suite 651
1296672       1632 Cohen Drive Suite 639
1296673             42933 Ryan Underpass
1296674             135 Joseph Mountains
Name: street, Length: 1296675, dtype: object, 0                    Moravian Falls
1                            Orient
2                        Malad City
3                           Boulder
4                          Doe Hill
                     ...
1296670                       Hatch
1296671                   Tuscarora
1296672    High Rolls Mountain Park
1296673                   Manderson
1296674                        Sula
Name: city, Length: 1296675, dtype: object, 0          NC
1          WA
2          ID
3          MT
4          VA
           ..
1296670    UT
1296671    MD
1296672    NM
1296673    SD
1296674    MT
Name: state, Length: 1296675, dtype: object, 0          28654
1          99160
2          83252
3          59632
4          24433
           ...
1296670    84735
1296671    21790
1296672    88325
1296673    57756
1296674    59871
Name: zip, Length: 1296675, dtype: int64, 0          36.0788
1          48.8878
2          42.1808
3          46.2306
4          38.4207
            ...
1296670    37.7175
1296671    39.2667
1296672    32.9396
1296673    43.3526
1296674    45.8433
Name: lat, Length: 1296675, dtype: float64, 0          -81.1781
1         -118.2105
2         -112.2620
3         -112.1138
4          -79.4629
             ...
1296670   -112.4777
1296671    -77.5101
1296672   -105.8189
1296673   -102.5411
1296674   -113.8748
Name: long, Length: 1296675, dtype: float64, 0          3495
1           149
2          4154
3          1939
4            99
           ...
1296670     258
1296671     100
1296672     899
1296673    1126
1296674     218
Name: city_pop, Length: 1296675, dtype: int64, 0                  Psychologist, counselling
1          Special educational needs teacher
2                Nature conservation officer
3                            Patent attorney
4             Dance movement psychotherapist
                         ...
1296670                         Geoscientist
1296671     Production assistant, television
1296672                      Naval architect
1296673                Volunteer coordinator
1296674             Therapist, horticultural
Name: job, Length: 1296675, dtype: object, 0          1988-03-09
1          1978-06-21
2          1962-01-19
3          1967-01-12
4          1986-03-28
              ...
1296670    1961-11-24
1296671    1979-12-11
1296672    1967-08-30
1296673    1980-08-18
1296674    1995-08-16
Name: dob, Length: 1296675, dtype: object, 0          0b242abb623afc578575680df30655b9
1          1f76529f8574734946361c461b024d99
2          a1a22d70485983eac12b5b88dad1cf95
3          6b849c168bdad6f867558c3793159a81
4          a41d7549acf90789359a9aa5346dcb46
                         ...
1296670    440b587732da4dc1a6395aba5fb41669
1296671    278000d2e0d2277d1de2f890067dcc0a
1296672    483f52fe67fabef353d552c1e662974c
1296673    d667cdcbadaaed3da3f4020e83591c83
1296674    8f7c8e4ab7f25875d753b422917c98c9
Name: trans_num, Length: 1296675, dtype: object, 0          1325376018
1          1325376044
2          1325376051
3          1325376076
4          1325376186
              ...
1296670    1371816728
1296671    1371816739
1296672    1371816752
1296673    1371816816
1296674    1371816817
Name: unix_time, Length: 1296675, dtype: int64, 0          36.011293
1          49.159047
2          43.150704
3          47.034331
4          38.674999
             ...
1296670    36.841266
1296671    38.906881
1296672    33.619513
1296673    42.788940
1296674    46.565983
Name: merch_lat, Length: 1296675, dtype: float64, 0          -82.048315
1         -118.186462
2         -112.154481
3         -112.561071
4          -78.632459
              ...
1296670   -111.690765
1296671    -78.246528
1296672   -105.130529
1296673   -103.241160
1296674   -114.186110
Name: merch_long, Length: 1296675, dtype: float64]

In [36]:
for x in data_cols:
    print(x, "\t\t", dataframe[x].dtype)

# 		 int64
trans_date_trans_time 		 object
cc_num 		 int64
merchant 		 object
category 		 object
amt 		 float64
first 		 object
last 		 object
gender 		 object
street 		 object
city 		 object
state 		 object
zip 		 int64
lat 		 float64
long 		 float64
city_pop 		 int64
job 		 object
dob 		 object
trans_num 		 object
unix_time 		 int64
merch_lat 		 float64
merch_long 		 float64

In [40]:
import datetime
import time

const_date_format = "%Y-%m-%d %H:%M:%S"
print(time.mktime(datetime.datetime.strptime("2020-06-21 12:14:25", const_date_format).timetuple()))

1592738065.0

In [57]:
testtimestamp = "1930-06-30"

print(datetime.fromisoformat("1969-01-02").timestamp())

OSError: [Errno 22] Invalid argument

In [48]:
from datetime import datetime

In [63]:
from datetime import datetime, timedelta
date = datetime(1970, 1, 1) + timedelta(seconds=-216345600)
# print(date.timestamp())

datetime(1963, 2, 23, 0, 0)
print(date.strptime("1930-06-13", "%Y-%m-%d").timestamp())

SyntaxError: unterminated string literal (detected at line 6) (2837019478.py, line 6)

In [66]:
datetime(1970, 1, 1) + timedelta(seconds=-2082816000)
print(datetime(1904, 1, 1, 8, 0))

NameError: name 'imedelta' is not defined